---
---

@import 'partials/normalize';
@import 'partials/fonts';

/* Base
---------------------------------------------------------------------------- */
html {
  font-family: $sans;
  color: #444;
}

body {
  margin-left: 16em;
  margin-right: 1em; // I don't want the content completely centered, but
                     // sightly to the left
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #39c;
  text-decoration: underline;
}

strong {
  color: #000;
}

code, kbd {
  font: 0.9em $monospace;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f5f5f5;
  padding: 2px 4px;
  color: #900;
}

pre {
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 1em;
  margin: 0 -1em;
  border-radius: 3;

  code {
    font-size: 1em;
    border: 0;
    background: none;
    padding: 0;
    color: inherit;
  }
}


/* Header
---------------------------------------------------------------------------- */
[role=banner] {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 12em;

  padding: 2.5em 2em;
  background: #212121;
  color: #fff;
  min-height: 60px;

  .link-home {
    text-decoration: none;
  }

  h1 {
    color: #fff;
    font-size: 1.3em;
    margin: 0;
    text-align: center;
  }

  p {
    font-size: 0.8em;
    margin: 1ex 0;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    border-radius: 50%;
  }

  h2 {
    color: #fff;
    font-size: 1.1em;
    margin: 2em 0 0.5em;
  }

  .about {
    margin-bottom: 2em;
  }
}


/* Content area
---------------------------------------------------------------------------- */
[role=main], .comments {
  max-width: 700px;
  margin: 1em auto;
  padding: 1.5em;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-top: 1px solid #eee;
    padding: 10px 0;

    &:first-child {
      border:0;
    }
  }

  span {
    display: inline-block;
    width: 88px;
  }

  a {
    margin-left: 10px;
  }
}

article {
  h1 {
    margin: 0 0 0.5em;
    font-size: 2.4em;
  }

  p {
    font-size: 1.1em;
    line-height: 1.4;
  }

  .meta {
    color: #666;
    text-transform: uppercase;
    font-size: 1em;
    margin: 0;
  }

  img {
    max-width: 100%;

    &.center {
      display: block;
      margin: 0 auto;

    }
  }
}


/* Base
---------------------------------------------------------------------------- */
.cv {
  h2 {
    margin-top: 1.5em;
    padding-top: 0.3em;
    border-top: 1px solid #d4d4d4;
  }

  h4 {
    margin-bottom: 0;
  }

  h4 + p, h4 + ul {
    margin-top: 0;
  }

  .job {
    h3 {
      margin-bottom: 0;
    }
    .duration {
      margin-top: 0.2em;
    }
  }
}


/* Mobile specific
---------------------------------------------------------------------------- */
@media (max-width: 50em) {
  body {
    font-size: 0.8em;
    margin: 0;
  }

  [role=banner] {
    position: static;
    width: auto;
    padding: 1em;

    h1 {
      text-align: left;
    }

    img {
      float: left;
      margin-right: 15px;
    }

    .about {
      display: none;
    }
  }

  article {
    h1 {
      font-size: 1.9em;
    }
  }
}
