---
title: Curriculum vitae
layout: default
comments: false
---

<section class="cv" role="main">
  <h1>Curriculum vitae</h1>

  <p>I'm Alejandro Fernández, and I'm a generalist with focus on frontend
    development.</p>

  <h2>Education</h2>

  <p>
    CFGS in “Administración de sistemas informáticos” (Systems
    Administration)<br/>
    2003 – 2005. Centro “María auxiliadora”
  </p>

  <h2>Technical skills <small>(with no particular order)</small></h2>
  <ul>
    <li>Semantic HTML5 / CSS3.</li>
    <li>Responsive CSS.</li>
    <li>SASS/SCSS.</li>
    <li>Javascript &amp; jQuery.</li>
    <li>Legacy browsers &amp; Legacy code.</li>
    <li>Basic UX and accessibility for the web.</li>
    <li>Basic SEO optimization.</li>
    <li>Ruby, Rails, MySQL.</li>
    <li>Git</li>
    <li>Some bash programming.</li>
    <li>Some Perl programming (but I will deny it. Ruby is way more fun).</li>
    <li>Mac OS &amp; some Linux administration.</li>
    <li>Photoshop &amp; Fireworks for slicing designs.</li>
  </ul>

  <h2>Employment</h2>

  <section class="job">
    <h3>Client side developer @ <a href="http://booking.com">Booking.com</a></h3>
    <p class="duration">Jul. 2015 - <code>new Date().toString()</code></p>

    <h4>Duties:</h4>
    <p>After trying the management position for 9 months I came back to pure development in the post booking team</p>
    <ul>
      <li>Build a responsive chat application to help communicate guests and properties</li>
      <li>Mentor graduates.</li>
      <li>Prepare and impart an intermediate git training.</li>
    </ul>
  </section>

  <section class="job">
    <h3>Team Lead &amp; Client side developer @ <a href="http://booking.com">Booking.com</a></h3>
    <p class="duration">Oct. 2014 - Jul. 2015</p>

    <h4>Duties:</h4>
    <p>Besides working as a JS developer I also got management tasks:</p>
    <ul>
      <li>Managing a team of 5 people.</li>
      <li>Distribute and help to organize tasks for the team with the product owner.</li>
      <li>Participate in the hiring process for new client side developers: going to recruiting events and conducting interviews.</li>
      <li>Onboard new hires in the company.</li>
    </ul>
  </section>

  <section class="job">
    <h3>Client side developer @ <a href="http://booking.com">Booking.com</a></h3>
    <p class="duration">Jan. 2014 - Oct. 2014</p>

    <h4>Duties:</h4>
    <p>Joined the company as a Javascript developer in the locali{s,z}ation team:</p>
    <ul>
      <li>Mantain and improve existing L10n APIs (time, distance, number and currency formatting).</li>
      <li>Prepare A/B tests for new features with a focus in local markets.</li>
    </ul>
    <p>I also give a git training to new hires.</p>
  </section>

  <section class="job">
    <h3>
      Lead frontend developer @
      <a href="http://simplelogica.net" rel="external">Simplelógica</a> &amp;
      <a href="http://the-cocktail.com" rel="external">The Cocktail</a>
    </h3>
    <p class="duration">Mar. 2010 - Jan. 2014.</p>

    <h4>Duties:</h4>
    <ul>
      <li>Code from scratch small libraries and custom jQuery plugins or adapt
        existing ones for the sites.</li>
      <li>Integrate static HTML (mine or from others) into a Rails app.</li>
      <li>Manage and mentor our small frontend team (currently four
        people).</li>
      <li>Backend coding. Mainly to integrate later with the front (for
        example, JSON APIs)</li>
      <li>Coordinating and communicating remotely with other teams. (Our
        offices are in different cities.)</li>
      <li>Write the <a href="https://github.com/simplelogica/styleguides">styleguide</a>
        for the company (spanish)</li>
      <li>Work under tight budgets and schedules. Evaluate tradeoffs in
        technical decisions and know when good enough is good enough.</li>
    </ul>

    <h4>Success cases:</h4>
    <p>
      <strong>2013</strong> - <a href="https://www.directseguros.es/calcular/seguros-de-coche/" rel="external">Direct seguros funnel</a>
      <br/>
      Javascript application to control the flow and the logic for the hiring
      funnel of a car insurance company.
    </p>
    <ul>
      <li>Create the Rails app.</li>
      <li>Define and develop the processes for importing external data (car
        brands, models, etc...)</li>
      <li>Code the Ruby modules to integrate with our customer's webservices to handle
        aprovals or rejections.</li>
      <li>Create a JSON API to interconnect the front and backend parts.</li>
      <li>Integrate existing HTML and CSS into the platform.</li>
      <li>Make it work! Implement a decision tree for the flow of the funnel
        and connect everything with the backend.</li>
      <li>Do the integration tests with <a
          href="https://github.com/jnicklas/capybara"
          rel="external">capybara</a>, using the PhantomJS driver.</li>
    </ul>

    <p>
      <strong>2012</strong> -
      <a href="http://www.talishoes.com/en/create-your-shoe/app" rel="external">Talishoes</a>
      <br/>
      Backboneish app that handles a shoe configurator for a luxury shoes
      ecommerce.
    </p>
    <ul>
      <li>Model the relationships and dependencies between the different parts
        of the shoes with the backend programmers.</li>
      <li>Define and build a JSON API to exchange data between the front and
        backend layers</li>
      <li>Build the UI with HTML and CSS</li>
      <li>Make it work :)</li>
    </ul>

    <p>
      <strong>2010</strong> -
      <a href="http://gili.com/" rel="external">Editorial Gustavo Gili</a>
      <br/>
      Ecommerce for a spanish publiser specialiced in architecture, design,
      photography and other arts.
    </p>
    <ul>
      <li>Analyze and slice the designs provided by the client. Extract common
        patterns and build modules with them.</li>
      <li>Build the UI using HTML and CSS.</li>
      <li>Integrate the UI into the Rails app.</li>
    </ul>

    <h4>Other projects I've worked on <small>(maintenance, fixing bugs, help...)</small></h4>
    <ul>
      <li><a rel="external" href="http://spf.com/">http://spf.com/</a></li>
      <li><a rel="external" href="http://cortefiel.com/">http://cortefiel.com/</a></li>
      <li><a rel="external" href="http://womensecret.com/">http://womensecret.com/</a></li>
      <li><a rel="external" href="http://pedrodelhierro.com/">http://pedrodelhierro.com/</a></li>
      <li><a rel="external" href="http://ocio.elcorteingles.es/">http://ocio.elcorteingles.es/</a></li>
    </ul>
  </section>

  <section class="job">
    <h3>Lead frontend developer @ <a href="http://diximedia.es/" rel="external">Diximedia Digital</a></h3>
    <p class="duration">Sept. 2008 - Mar. 2010.</p>

    <h4>Duties:</h4>
    <p>As a lead developer I was responsible of the frontend side of our main
      product: <a href="http://lainformacion.com">lainformacion.com</a>. That
      included:</p>
    <ul>
      <li>Coordinate the development of the UI of <a href="http://lainformacion.com">lainformacion.com</a>.
        This involved talking with the design team about the technical
        limitations and provide support to the backend team when integrating
        the HTML, CSS and JS files in the existing app.</li>
      <li>Translate the existing design files into semantic HTML and CSS.</li>
      <li>Define with the design team the interactions of the site. Adapt
        existing jQuery plugins to the desired functionality or code new ones
        when needed</li>
      <li>Hire and manage a small team (two people).</li>
      <li>Solve the day by day needs of journalists.</li>
    </ul>
  </section>

  <section class="job">
    <h3>Junior frontend developer @ <a href="http://www.prisa.com/en/" rel="external">Prisacom</a></h3>
    <p class="duration">Apr. 2007 - Sept. 2008</p>

    <h4>Duties</h4>
    <ul>
      <li>Mantaining high-traffic sites for the most important editorial group
        of Spain (<a href="http://elpais.com" rel="external">elpais.com</a>, <a
          href="http://as.com" rel="external">as.com</a>, <a
          href="http://cadenaser.com" rel="external">cadenaser.com</a>, <a
          href="http://cuatro.com" rel="external">cuatro.com</a>, etc.).</li>
      <li>Create and mantain microsites for special events: Olimpic games, TV
        show releases, etc.</li>
    </ul>

    <h4>Success case:</h4>
    <p>
      <strong>2008</strong> - cadenaser.com (the version I worked on is no
      longer online)
    </p>

    <ul>
      <li>Lead the development of the UI.</li>
    </ul>
  </section>

<!--  -->

  <h2>Other things</h2>
  <ul>
    <li>I understand that good is the enemy of perfect.</li>
    <li>I understand that perfect is the enemy of shipping.</li>
    <li>I'm a big fan of KISS, and also the rock band.</li>
    <li>I took one year of lyrical singing lessons.</li>
    <li>Ik ben Nederlands aan het studeren.</li>
    <li>I like cycling</li>
    <li>I make the <a
        href="http://www.flickr.com/photos/antarticonorte/7557975582/"
        rel="external">asturian version of crêpes</a>.</li>
  </ul>

</section>
