@import url(http://fonts.googleapis.com/css?family=Bitter:700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$serif: 'Bitter', Georgia, serif;
$sans:  'Source Sans Pro', Arial, Helvetica, sans-serif;
$monospace: 'Inconsolata', 'Consolas', 'Menlo', 'Bitstream vera sans mono', monospace;
