<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} &mdash; afgomez.es</title>
    <meta name="viewport" content="width=device-width">

    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    {% if site.google_analytics_tracking_id %}
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}
  </head>
  <body>
    <header role="banner">
      <a href="/" class="link-home">
        <img src="http://gravatar.com/avatar/f8918934e7881db20ed9c526a8bd67fd?s=200" alt="Alejandro Fernández" />
        <h1>{{ site.name }}</h1>
      </a>
      <p class="tagline">Frontend development and other amusings. A veces escribo en Español.</p>

      <div class="about">
        <h2>$ whoami</h2>
        <p>Hi! I'm Alejandro Fernández, a Spanish Javascript developer working
          at <a href="http://booking.com">Booking.com</a>.</p>
      </div>

      <p class="social">
        <a href="{{ site.subscribe_rss }}" class="rss" rel="subscribe-rss" title="subscribe via RSS">RSS</a> |
        <a href="https://twitter.com/antarticonorte">Twitter</a> |
        <a href="https://github.com/afgomez">Github</a>
      </p>
    </header>

    {{ content }}



{% if site.disqus_short_name and page.comments != false %}
<script type="text/javascript">
      var disqus_shortname = '{{ site.disqus_short_name }}';
      {% if page.comments == true %}
        {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
        // var disqus_developer = 1;
        var disqus_identifier = '{{ site.url }}{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        var disqus_script = 'embed.js';
      {% else %}
        {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
        var disqus_script = 'count.js';
      {% endif %}
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>
{% endif %}
  </body>
</html>
