---
layout: default
---
<article role="main">
  <p class="meta">{{ page.date | date_to_string }}</p>
  <h1>{{ page.title }}</h1>

  <div class="post">
    {{ content }}
  </div>
</article>

<section class="comments">
  <div id="disqus_thread" aria-live="polite">
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
